  <div class=" my-1 sticky-bottom">
    <footer class="bg-body-secondary text-center">
    <!-- Grid container -->
    <div class="container p-4 pb-2">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <h5 class="">Lets always keep the NE data clean & updated</h5>
               <p>“We’re entering a new world in which data may be more important than software.” – Tim O’Reilly, </p>
            </div>
          </div>
          <!--Grid row-->
    </div>
    <!-- <div class="text-center p-3 bg-light" >
      Copyright © 2023::kip geoffry
     
    </div> -->
  </footer>
    
  </div>